 @import "tailwindcss";

 @theme {
     --font-Roboto-Reguler: "Roboto-Reguler";
     --font-Roboto-Medium: "Roboto-Medium";
 }

 @font-face {
     font-family: "Roboto-Reguler";
     src: url(../public/fonts/Roboto-Regular.ttf);
 }

 @font-face {
     font-family: "Roboto-Medium";
     src: url(../public/fonts/Roboto-Medium.ttf);
 }